@import '../../theme/_index.scss';

.page-cover{
    height: 25vw;
    min-height: 200px;
}

.uk-comment-list{
    >:nth-child(n+2){margin-top: 0;}
    li{
        //transform: translateY(200PX);
        //opacity: 0;
        article{
          
        }
        &:nth-child(odd){
            article{background: $lighter-grey;}
        }
        &:nth-child(even){
            article{background: white;}
        }
    }
    
}

.content-profile{
    .uk-card-media-top{
        margin: 0 auto;
        img{
            border-radius: 50%;
            transform: translateY(-50%);
             margin-bottom: -60px;
             
             @media (min-width: map-get($breakpoints,sm)) {
                margin-bottom: -100px;
             }
        }
        
    }
    .uk-card-body{
        //transform: translateY(-50%);
    }
}

.content-form-post{
    .form-wrapper{
        position: relative;
        padding-bottom: 100px;
    .background-wrapper{
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDguOTYgMTguMzciPjx0aXRsZT5Bc3NldCAzPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMyIgZGF0YS1uYW1lPSJMYXllciAzIj48cG9seWdvbiBwb2ludHM9IjAgMy41OCAwIDEyLjUgNy43NSAxOC4zNyAxMDguOTYgMTcuOTkgMTA3LjczIDEuMDQgMTA0LjMxIDguMTEgMCAzLjU4IiBmaWxsPSIjZmNmY2ZjIi8+PHBvbHlnb24gcG9pbnRzPSIwIDEyLjY3IDIuMDggMTguMTIgNy43NSAxOC4zNyAwIDEyLjY3IiBmaWxsPSIjY2ZjZGM0Ii8+PHBvbHlnb24gcG9pbnRzPSIxMDMuNzcgMCAxMDQuMzkgNy45OCAxMDcuODEgMS4xMiAxMDMuNzcgMCIgZmlsbD0iI2NmY2RjNCIvPjwvZz48L2c+PC9zdmc+);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        bottom: 65px;
        left: 15px; 
        @media (min-width: map-get($breakpoints,sm)) {
            bottom: 40px;
            left: 30px;
          }

          @media (min-width: map-get($breakpoints,lg)) {
            bottom: 35px;
            
          }
        
    }
    form{
        position: relative;
        z-index: 2;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMTUuOTIgMjAuNzEiPjx0aXRsZT5Bc3NldCA0PC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMyIgZGF0YS1uYW1lPSJMYXllciAzIj48cG9seWdvbiBwb2ludHM9IjAgMCAwIDEzLjI1IDAgMjAuNzEgMTE1Ljg3IDE5LjQzIDExNS45MiAwIDAgMCIgZmlsbD0iI2ZmZiIvPjxwb2x5Z29uIHBvaW50cz0iMCA1Ljg4IDguMzcgMjAuNjEgMy43MSAyMC43MSAwIDUuODgiIGZpbGw9IiNjZmNkYzQiLz48L2c+PC9nPjwvc3ZnPg==);
        background-color: white ;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        padding: 30px;
        padding-bottom: 30px;
        textarea{
            border: none;
            background: none;
            min-height: 200px;
            &:active,&:focus{background: none;}
        }
        button{
            position: absolute;
            bottom: 0px;
            right: 0;
        }
    }

    }
    

}