@import '../../theme/_index.scss';

.page-cover{
    height: 25vw;
    min-height: 200px;
}



.content-profile{
    .uk-card-media-top{
        margin: 0 auto;
        img{
            //border-radius: 50%;
            transform: translateY(-50%);
             margin-bottom: -60px;
             
             @media (min-width: map-get($breakpoints,sm)) {
                margin-bottom: -100px;
             }
        }
        
    }
    .uk-card-body{
        //transform: translateY(-50%);
    }
}