@import '../../theme/_index.scss';
.home-slide-show {
    position: relative;
    z-index: 1;
    .home-intro {
        h1 {
            color: $primary;
            @include font-size($xxxxl-font);
            margin: 0 auto;
        }
        color:$text;
        p {
            @include font-size($md-font);
            margin-top: 0;
        }
    }
    .home-slide {
        color: white;
        overflow: hidden;
        h2 {
            font-weight: 200;
        }
        .home-slide-1 {
            .img-plane {
                width: 180px;
            }
            .type-it {
                display: inline;
                display: none;
            }
        }
        .home-slide-2 {
            position: relative;
            padding-bottom:8em;
            .step-images {
                display: inline-block;
                position: relative;
                .img-speach {
                    width: 150px;
                    position: relative;
                    z-index: 2;
                    @media (min-width: map-get($breakpoints,md)) {
                        width: 200px;
                      }
                      @media (min-width: map-get($breakpoints,xl)) {
                        width: 250px;
                      }
                }
                .img-social{
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    top: 35%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    img{
                        transition: all 1s cubic-bezier(.59,.01,.01,1.01);
                        transition-delay: 0s;
                        position: absolute;
                        z-index: 1;
                        width: 40px;
                        opacity: 0;
                        top: 0;
                        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){right: 0}
                        &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){left: 0}
                        @media (min-width: map-get($breakpoints,md)) {
                            width: 60px;
                          }
                    }
                }
                .img-planes {
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    
                    img{
                        position: absolute;
                        opacity: 0;
                        transition: all 1s cubic-bezier(.59,.01,.01,1.01);
                        transition-delay: 0.5s;
                        
                        &:nth-child(1){width: 120px;right: -180%;top: -190%;}
                        &:nth-child(2){width: 90px;right: -190%;top: -70%;transform: rotate(20deg)}
                        &:nth-child(3){width: 100px;right: -170%;top: 140%;}
                        &:nth-child(4){width: 110px;left: -170%;top: 120%;}
                        &:nth-child(5){width: 90px;left: -190%;top: 40%;transform: rotate(20deg)}
                        &:nth-child(6){width: 130px;left: -170%;top: -170%;}
                        @media (max-width: map-get($breakpoints,md)) {
                            transform: scale(0.8);
                            &:nth-child(2){transform: rotate(20deg) scale(0.8)}
                            &:nth-child(5){transform: rotate(20deg) scale(0.8)}
                          }
                    }

                }
            }
            .step-content{
                opacity: 0;
                transition: all 1s cubic-bezier(.59,.01,.01,1.01);
                z-index: 1;
                position: absolute;
                top: 80%;
                left: 50%;
                width: 80%;
                
                transform: translateX(-50%) translateY(50%);
            }
            &.step-1 {
                .step-content:nth-child(2) {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0%);
                    z-index: 2;
                  
                }
            }
            &.step-2 {
                .step-content:nth-child(3) {
                    transform: translateX(-50%) translateY(0%);
                    opacity: 1;
                    z-index: 2;
                  
                }
                .img-social{
                    img{
                        transition-delay: 0.5s;
                        opacity: 1;
                        &:nth-child(1){right: -60%;top: -100%;}
                        &:nth-child(2){right: -140%;top: -40%; transform: rotate(20deg)}
                        &:nth-child(3){right: -140%;top: 60%;}
                        &:nth-child(4){right: -80%;top: 120%;}
                        &:nth-child(5){left: -90%;top: 100%;}
                        &:nth-child(6){left: -130%;top: 0%;}
                        &:nth-child(7){left: -100%;top: -90%;}
                        &:nth-child(8){left: 0%;top: -100%;}
                    }
                }

                
            }
            &.step-3 {
                .step-content:nth-child(4) {
                    opacity: 1;
                    transform: translateX(-50%) translateY(0%);
                    z-index: 2;
                    
                }
                .img-planes {
                    img{  
                        opacity: 1;

                        &:nth-child(1){width: 120px;right: -140%;top: -150%;}
                        &:nth-child(2){width: 90px;right: -150%;top: -30%;}
                        &:nth-child(3){width: 100px;right: -130%;top: 100%;}
                        &:nth-child(4){width: 110px;left: -130%;top: 80%;}
                        &:nth-child(5){width: 90px;left: -150%;top: 0%;}
                        &:nth-child(6){width: 130px;left: -130%;top: -130%;}
                    }

                }
            }
        }
    }
}