@import '../../theme/_index.scss';
.home-slide-show {
    position: relative;
    z-index: 1;
    
    // h2{
    //     @include font-size($xxxl-font);
    // }
    
    .home-intro{
        h1 {
            color: $primary;
            @include font-size($xxxxl-font);
        }
        color:$text;
        p {
            @include font-size($md-font);
        }
    }
    .home-slide{
        color:white;
        overflow: hidden;

        .home-slide-02{
            .img-speach{width: 200px;}
        }
    }

}